@page
@model ProfileModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Edit Profile";
    ApplicationUser currentUser = await UserManager.GetUserAsync(User);
}

<h1>@ViewData["Title"]</h1>
<h4>Edit your Sfira user profile.</h4>
<partial name="_StatusMessagePartial" for="StatusMessage" />
<form class="editProfileForm" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="validation"></div>
    <div class="formGroup">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" />
        <span asp-validation-for="Input.Name" class="validation"></span>
    </div>


    <div class="formGroup">
        <label asp-for="Input.Avatar">Avatar</label>
        <input asp-for="Input.Avatar" accept="image/jpeg, image/png" style="display: none;">
        <div class="origin">
            <div class="avatar" id="avatarPreview" sfira-user="@currentUser" sfira-media="avatar" onclick="document.getElementById('Input_Avatar').click();"></div>
        </div>
    </div>

    <div class="formGroup">
        <label asp-for="Input.Cover">Cover</label>
        <input asp-for="Input.Cover" accept="image/jpeg, image/png" style="display: none;">
        <div class="origin">
            <div class="cover" id="coverPreview" sfira-user="@currentUser" sfira-media="cover" onclick="document.getElementById('Input_Cover').click();"></div>
        </div>
    </div>


    <div class="formGroup">
        <label asp-for="Input.Description"></label>
        <textarea asp-for="Input.Description">@Model.Input.Description</textarea>
    </div>
    <div class="formGroup">
        <label asp-for="Input.Location"></label>
        <input asp-for="Input.Location" />
    </div>
    <div class="formGroup">
        <label asp-for="Input.Website"></label>
        <input asp-for="Input.Website" />
        <span asp-validation-for="Input.Website" class="validation"></span>
    </div>
    <button type="submit">Save</button>
</form>

@section PrimaryAside{
    <section class="aside">
        <p>
            All the information in your profile must be appropriate and inoffensive. Any violation of the rules will result in account restrictions.
        </p>
        <ul>
            <li><a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/TermsOfUse">Terms of Use</a></li>
        </ul>
    </section>
}
