@model IEnumerable<CommentViewModel>
@{
    if (!Model.Any())
    {
        <article class="single-comment">
            <span>Be first to comment!</span>
        </article>
    }

    foreach (var comment in Model)
    {
        <article class="single-comment">
            <header class="header">
                <div class="avatar" sfira-id="@comment.Author.Id" sfira-media="avatar"></div>
                <a asp-controller="User" asp-action="@nameof(UserController.Index)" asp-route-userName="@comment.Author.UserName">
                    <span class="name">@comment.Author.Name</span><span class="username">@comment.Author.UserName</span>
                </a>
                <span class="timestamp">@comment.PublicationTime.Relative()</span>
            </header>
            <div class="content">
                <p class="body">
                    @Html.Raw(comment.Body.FormatAsEntry())
                </p>
            </div>
        </article>
    }
}
