@model IEnumerable<UserViewModel>

<section class="Feed FollowersFeed">
    @if (Model.Any())
    {
        foreach (var user in Model)
        {
            <article class="single-user">
                <div class="avatar" sfira-user="@user" sfira-media="avatar"></div>
                <a asp-controller="User" asp-action="@nameof(UserController.Index)" asp-route-userName="@user.UserName">
                    <span class="name">@user.Name</span><span class="username">@user.UserName</span>
                </a>
            </article>
        }
    }
    else
    {
        <section class="Info">
            <header>User doesn't have any followers</header>
        </section>
    }
</section>
