<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=4, initial-scale=1">
    <link rel="stylesheet" href="~/site.css" asp-append-version="true">
    <script defer src="~/lib/font-awesome/all.min.js"></script>
    <script defer src="~/lib/jquery/jquery.min.js"></script>
    <script defer src="~/site.js" asp-append-version="true"></script>
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("_Favicons")
</head>

<body>
    <div class="site-container">
        <header class="site-header">
            <a href="#"><img class="logo" src="~/media/site/sfira-logo-primary.png" alt=""></a>
            <nav class="site-menu">
                <div class="item"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a></div>
                <div class="item"><a asp-controller="Explore" asp-action="Index"><i class="fas fa-globe-americas"></i> Explore</a></div>
                <div class="item"><a asp-controller="Messages" asp-action="Index"><i class="fas fa-envelope-square"></i> Messages</a></div>
            </nav>
            <form class="search-form">
                <input type="search" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <section class="user">
                @await Html.PartialAsync("_LoginPartial")
            </section>
        </header>

        <div class="main-container">
            <main class="main-column">
                @RenderBody()
            </main>

            <div class="side-column">
                <div class="side-content">
                    <div class="main-aside">
                        @RenderSection("MainAside", required: false)
                    </div>

                    <aside class="site-aside">
                        @RenderSection("Aside", required: false)
                    </aside>
                </div>

                <footer class="site-footer">
                    Terms &bull; Privacy policy &bull; Cookies<br>
                    @@ @DateTime.Now.Year <a href="https://mroczek.dev/">https://mroczek.dev/</a>
                </footer>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ImageModal")

    @RenderSection("Scripts", required: false)
    <noscript>
        <style>
            .site-container {
                display: none;
            }
        </style>
        <div class="javascript-disabled">
            <h1>JavaScript required</h1>
            <p>
                For full functionality of this site it is necessary to enable JavaScript.
                Here are the <a href="https://www.enable-javascript.com/">instructions how to enable JavaScript in your web browser</a>.
            </p>
        </div>
    </noscript>
</body>
</html>
