@{
    CultureInfo.DefaultThreadCurrentCulture = CultureInfo.CreateSpecificCulture("en-US");
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=4, initial-scale=1">
    <link rel="stylesheet" href="~/site.css" asp-append-version="true">
    <script defer src="~/lib/font-awesome/all.min.js"></script>
    <script defer src="~/lib/jquery/jquery.min.js"></script>
    <script defer src="~/site.js" asp-append-version="true"></script>
    <title>@ViewBag.Title &middot; Sfira</title>
    @{await Html.RenderPartialAsync("_Favicons"); }
</head>

<body>
    <div class="Site">
        <header class="siteHeader">
            <a class="logo" asp-controller="Home" asp-action="@nameof(HomeController.Index)"><img src="~/media/site/sfira-logo-primary.png" alt=""></a>
            <nav class="siteMenu">
                <div class="item @if (controller == "Home") {<text>active</text>} ">
                    <a asp-controller="Home" asp-action="@nameof(HomeController.Index)"><i class="fas fa-home"></i> Home</a>
                </div>
                <div class="item @if (controller == "Explore") {<text>active</text>} ">
                    <a asp-controller="Explore" asp-action="@nameof(ExploreController.Index)">
                        <i class="fas fa-globe-americas"></i> Explore
                    </a>
                </div>
                <div class="item @if (controller == "Messages") {<text>active</text>} ">
                    <a asp-controller="Messages" asp-action="@nameof(MessagesController.Index)">
                        <i class="fas fa-envelope-square"></i> Messages
                    </a>
                </div>
            </nav>
            @*NotImplemented
                <form class="SearchForm">
                    <input type="search" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>*@
            <section class="user">
                @{await Html.RenderPartialAsync("_UserMenuPartial"); }
            </section>
        </header>

        <div class="mainContainer">
            <main class="mainColumn">
                @RenderBody()
            </main>
            <div class="sideColumn">
                <div class="sideContent">
                    <div class="PrimaryAside">
                        @RenderSection("PrimaryAside", required: false)
                    </div>
                    <aside class="secondaryAside">
                        @RenderSection("SecondaryAside", required: false)
                    </aside>
                </div>
                <footer class="siteFooter">
                    <a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/Index">
                        About
                    </a> &middot; <a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/TermsOfUse">
                        Terms of Use
                    </a> &middot; <a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/PrivacyPolicy">
                        Privacy Policy
                    </a><br>
                    &copy; @DateTime.UtcNow.Year <a class="link" href="https://mroczek.dev/">mroczek.dev</a>
                </footer>
            </div>
        </div>
    </div>

    @{await Html.RenderPartialAsync("_ImageModal"); }

    @RenderSection("Scripts", required: false)
    <noscript>
        <style>
            .Site {
                display: none;
            }
        </style>
        <div class="javascript-disabled">
            <h1>JavaScript required</h1>
            <p>
                For full functionality of this site it is necessary to enable JavaScript.
                Here are the <a href="https://www.enable-javascript.com/">instructions how to enable JavaScript in your web browser</a>.
            </p>
        </div>
    </noscript>
</body>
</html>
