@{
    CultureInfo.DefaultThreadCurrentCulture = CultureInfo.CreateSpecificCulture("en-US");
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
}

<!DOCTYPE html>

<html>
<head>
    @*FOUC fix - part 1*@
    <style>
        html {
            visibility: hidden;
            opacity: 0;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=4, initial-scale=1">
    <link rel="stylesheet" href="~/site.css" asp-append-version="true">
    <script defer src="~/lib/font-awesome/all.min.js"></script>
    <script defer src="~/lib/jquery/jquery.min.js"></script>
    <script defer src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script defer src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script defer src="~/site.js" asp-append-version="true"></script>
    <title>@ViewBag.Title &middot; Sfira</title>
    @{await Html.RenderPartialAsync("_Favicons"); }
</head>

<body>
    <div class="Site">
        <header class="siteHeader">
            <a class="logo" asp-controller="@HomeController.Name" asp-action="@nameof(HomeController.Index)">
                <img id="PrimaryLogo" src="~/media/site/sfira-logo-primary.png" alt="">
                <img id="MiniLogo" src="~/media/site/sfira-logo-mini.png" alt="">
            </a>
            <nav class="siteMenu">
                <a class="item @if (controller == "Home")
                {<text>active</text>} " asp-controller="@HomeController.Name" asp-action="@nameof(HomeController.Index)">
                    <i class="fas fa-home"></i><span class="label"> Home</span>
                </a>
                <a class="item @if (controller == "Explore")
                {<text>active</text>} " asp-controller="@ExploreController.Name" asp-action="@nameof(ExploreController.Index)">
                    <i class="fas fa-globe-americas"></i><span class="label"> Explore</span>
                </a>
                <a class="item @if (controller == "Messages")
                {<text>active</text>} " asp-controller="@MessagesController.Name" asp-action="@nameof(MessagesController.Index)">
                    <i class="fas fa-envelope-square"></i><span class="label"> Messages</span>
                </a>
            </nav>
            @*NotImplemented*@
            @*<form class="SearchForm">
                    <input type="search" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>*@
            <section class="user">
                @{await Html.RenderPartialAsync("_UserMenuPartial"); }
            </section>
        </header>

        <div class="mainContainer">
            <main class="mainColumn">
                @RenderBody()
            </main>
            <div class="sideColumn">
                <div class="sideContent">
                    <div class="PrimaryAside">
                        @RenderSection("PrimaryAside", required: false)
                    </div>
                    <aside class="secondaryAside">
                        @RenderSection("SecondaryAside", required: false)
                    </aside>
                </div>
                <footer class="siteFooter">
                    <a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/Index">
                        About
                    </a> &middot; <a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/TermsOfUse">
                        Terms of Use
                    </a> &middot; <a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/PrivacyPolicy">
                        Privacy Policy
                    </a><br>
                    &copy; @DateTime.UtcNow.Year <a class="link" href="https://mroczek.dev/">mroczek.dev</a>
                </footer>
            </div>
        </div>
    </div>

    @{await Html.RenderPartialAsync("_ImageModal"); }

    @RenderSection("Scripts", required: false)

    @{await Html.RenderPartialAsync("_NoScript"); }
</body>
</html>
