@using Microsoft.AspNetCore.Identity
@using MroczekDotDev.Sfira.Models
@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    <div class="Dropdown">
        <div class="avatar" sfira-id="@UserManager.GetUserId(User)" sfira-media="avatar"></div>
        <div class="dropdown-content">
            <div class="item">
                <a id="manage" asp-area="@nameof(MroczekDotDev.Sfira.Areas.Account)" asp-page="/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            </div>
            <div class="item">
                <form id="logoutForm" class="form-inline" asp-area="@nameof(MroczekDotDev.Sfira.Areas.Account)" asp-page="/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

}
else
{
    <div class="Dropdown">
        <button class="dropdown-button">Sign In</button>
        <div class="dropdown-content">
            <div class="item">
                <a id="register" asp-area="@nameof(MroczekDotDev.Sfira.Areas.Account)" asp-page="/Register">Register</a>
            </div>
            <div class="item">
                <a id="login" asp-area="@nameof(MroczekDotDev.Sfira.Areas.Account)" asp-page="/Login">Login</a>
            </div>
        </div>
    </div>

}
