@{
    @model UserViewModel;
    var usernameNameWithSymbol = "@" + ViewContext.RouteData.Values["userName"];
    ViewBag.Title = usernameNameWithSymbol + " \u00B7 Sfira";

}

@if (Model != null)
{
    <section class="profile" data-username="@Model.UserName">
        <header class="profileHeader">
            <div class="cover" sfira-id="@Model.Id" sfira-media="cover">
                <div class="profileTitle">
                    <div class="name">@Model.Name</div>
                    <div class="username">@Model.UserName</div>
                </div>
            </div>
            <div class="avatar" sfira-id="@Model.Id" sfira-media="avatar"></div>
            <section class="profileActions">

                @if (User.Identity.IsAuthenticated && !Model.IsCurrentUser)
                {
                    <section class="primaryProfileActions">
                        @if (Model.IsFollowedByCurrentUser)
                        {
                            <button class="unfollow">Unfollow</button>
                        }
                        else
                        {
                            <button class="follow">Follow</button>
                        }
                    </section>
                        <section class="moreProfileActions" style="display: none;"><!--
                            --><button class="message href" href="@Url.Action(nameof(ChatController.DirectChat), "Chat", new { userName = Model.UserName })">Message</button><!--
                            --><button class="block">Block</button><!--
                            --><button class="report">Report</button><!--
                        -->
                        </section><!--
                        --><button class="more">&bull;&bull;&bull;</button>
                }
            </section>
            <nav class="profileMenu">
                <a class="menuItem showPosts active" href="javascript:void(0)">Posts</a>
                <a class="menuItem showMedia" href="javascript:void(0)">Media</a>
                <a class="menuItem showFollowers" href="javascript:void(0)">Followers (<span id="followersCount">@Model.FollowersCount</span>)</a>
            </nav>
        </header>
    </section>

    await Html.RenderPartialAsync("_PostsFeedPartial", Model.Posts);

    <section class="Feed MediaFeed" style="display: none;"></section>
    <section class="Feed FollowersFeed" style="display: none;"></section>

    @section MainAside {
        @if (Model.Description != null)
        {
            <section class="aside">
                <header>
                    Summary
                </header>
                <p class="description">
                    @Html.Raw(Model.Description.FormatAsEntry())
                </p>
            </section>
        }

        <section class="aside">
            <header>
                Member since
            </header>
            <p class="date">
                @Model.RegisterTime
            </p>
        </section>

        @if (Model.Location != null)
        {
            <section class="aside">
                <header>
                    Location
                </header>
                <p class="location">
                    @Model.Location
                </p>
            </section>
        }

        @if (Model.Website != null)
        {
            <section class="aside">
                <header>
                    Website
                </header>
                <p class="website">
                    @Model.Website
                    @*<TODO-CustomTagHelper shref="@Model.Website">@Model.Website</TODO>*@
                </p>
            </section>
        }
    }
}
else
{
    <section class="Info">
        <header>@usernameNameWithSymbol user doesn't exist</header>
    </section>
}

@section Aside{
}
