@{
    @model UserViewModel;
    ViewBag.Title = "@" + ViewContext.RouteData.Values["userName"];
}

@if (Model != null)
{
    <section class="profile" data-username="@Model.UserName">
        <header class="profileHeader">
            <div class="cover" sfira-user="@Model" sfira-media="cover">
                <div class="profileTitle">
                    <div class="name">@Model.Name</div>
                    <div class="username">@Model.UserName</div>
                </div>
            </div>
            <div class="avatar" sfira-user="@Model" sfira-media="avatar"></div>
            <section class="profileActions">

                @if (User.Identity.IsAuthenticated)
                {
                    @if (!Model.IsCurrentUser)
                    {
                        <section class="primaryProfileActions">
                            @if (Model.IsFollowedByCurrentUser)
                            {
                                <button class="unfollow">Unfollow</button>
                            }
                            else
                            {
                                <button class="follow">Follow</button>
                            }
                        </section>
                        <section class="moreProfileActions" style="display: none;">
                            <button class="message href" href="@Url.Action(nameof(ChatController.DirectChat), "Chat", new { userName = Model.UserName })">
                                Message
                            </button><button class="block disabled">
                                Block
                            </button><button class="report disabled">
                                Report
                            </button>
                        </section><button class="more">&bull;&bull;&bull;</button>
                    }
                    else
                    {
                        <section class="primaryProfileActions">
                            <a class="editProfile button" asp-area="@nameof(MroczekDotDev.Sfira.Areas.Account)" asp-page="/Profile">Edit Profile</a>
                        </section>
                    }
                }
            </section>
            <nav class="profileMenu">
                <a class="menuItem showPosts active" href="javascript:void(0)">Posts</a>
                <a class="menuItem showMedia" href="javascript:void(0)">Media</a>
                <a class="menuItem showFollowers" href="javascript:void(0)">Followers (<span id="followersCount">@Model.FollowersCount</span>)</a>
            </nav>
        </header>
    </section>

    <section class="Feed PostsFeed">
        @if (Model.PostsFeedLoader != null)
        {
            await Html.RenderPartialAsync("_PostsFeedLoaderPartial", Model.PostsFeedLoader);
        }
        else
        {
            <section class="Info">
                <header>User doesn’t have any posts</header>
            </section>
        }
    </section>

    <section class="Feed MediaFeed" style="display: none;"></section>
    <section class="Feed FollowersFeed" style="display: none;"></section>

    @section PrimaryAside {
        @if (Model.Description != null)
        {
            <section class="aside">
                <header>
                    Summary
                </header>
                <p class="description">
                    @Html.Raw(Model.Description.ToHypertext())
                </p>
            </section>
        }

        <section class="aside">
            <header>
                Member since
            </header>
            <p class="date">
                @Model.RegisterTime.ToString("MMMM dd, yyyy")
            </p>
        </section>

        @if (Model.Location != null)
        {
            <section class="aside">
                <header>
                    Location
                </header>
                <p class="location">
                    @Model.Location
                </p>
            </section>
        }

        @if (Model.Website != null)
        {
            <section class="aside">
                <header>
                    Website
                </header>
                <a href="@Model.Website.ToWebUrl()" class="website">
                    @Model.Website
                </a>
            </section>
        }
    }
}
else
{
    <section class="Info">
        <header>@ViewBag.Title user doesn't exist</header>
    </section>
}

@section SecondaryAside{
}
