@model UserViewModel

<div class="profile">
    <header class="profile-header">
        <div class="cover" sfira-id="@Model.Id" sfira-media="cover">
            <div class="profile-title">
                <div class="name">@Model.Name</div>
                <div class="username">@Model.UserName</div>
            </div>
        </div>
        <div class="avatar" sfira-id="@Model.Id" sfira-media="avatar"></div>
    </header>
</div>
<div class="actions TEMP">
    <br />
    <br />
</div>

@foreach (var p in Model.Posts)
{
    await Html.RenderPartialAsync("~/Views/Shared/_PostPartial.cshtml", p);
}

@* PINNED POST *@

@* ALL POSTS, NEWEST FIRST *@

@section MainAside{
    <section class="aside">
        <header class="aside-header">
            <h4>Summary</h4>
        </header>
        <p class="description">
            @Html.Raw(Model.Description.FormatAsMessage())
        </p>
        <div>@Model.RegisterTime</div>
        <div>@Model.Location</div>
        @*<TODO-CustomTagHelper shref="@Model.Website">@Model.Website</TODO>*@
    </section>

    <section class="aside">
        <header class="aside-header">
            <h4>Media</h4>
        </header>
        @*placeholder image below*@
        <img class="media" src="~/media/site/default-image.png">
    </section>
}

@section Aside{

}
